Options +FollowSymLinks
RewriteEngine On

# RewriteRule for the payment link
RewriteRule ^instant-pay/([a-zA-Z0-9]+)$ pay_now.php?token=$1 [L,QSA]
RewriteRule ^instant-pay/hdfcupipay/([a-zA-Z0-9]+)$ cxrpay.php?token=$1 [L,QSA]
RewriteRule ^instant-pay/confirm/([a-zA-Z0-9]+)$ cxrpay2.php?token=$1 [L,QSA]


